.navbar-custom.top-nav-collapse .navbar-brand .logodark {
    filter: drop-shadow(0px 0px 1px #000);
}
#carousel-light2 .carousel-inner, .item{
    height: 282px;
}
.carousel, .item, .active, .carousel-inner, .item {
    height: auto;
}
#news h5, #services h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#news p, #services p{
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.grid-pad a{
    height: 250px;
    overflow: hidden;
    display: block;
}