:root{
    --green: #55d3d2;
    --rgb_green: 99, 199, 302;
    --light_green: #2fb1b4;
    --lighter_green: #f0fbfb;
    --gray: #999;
    --red: #ED7B7B;
    --yellow: #F8BC17;
    --light_blue: #f7fbfc;
    --dark_blue: #337ab7;
    --blue: #a3bac8;
    --orange: #fff8ed;
    --light_red: #fff3f3;
    --light_yellow: #F7EFBF;
    --gray: #999;
}
body{
    background: #fcfcfc;
    color: var(--blue);
    direction: rtl;
    font-family: "A Jannat LT" !important;
}
h1, h2{
    color: var(--dark_blue);
}

textarea { resize: vertical; }

button:hover, label:hover {
    cursor: pointer;
}
a, a:hover{ text-decoration: none; }
a{ color: var(--green); }
a:hover{ color: var(--dark_blue); }

button:disabled , submit:disabled {
    color: var(--blue) !important;
    cursor: not-allowed;
}



#imgHolder{
	opacity:0;
	z-index:-20;
	width:100%;
	height:100%;
	top:0;
	right:0;
	position:fixed;
	background:rgba(0,0,0,0.9);
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	text-align:center;
}
#imgHolder img{
	margin:30px auto;
	max-height:90%;
	max-width:90%;
	border-radius:20px;
	-moz-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	-webkit-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	box-shadow: 0px 0px 10px 5px #CCC;
}
#imgHolder i{
	color:#000;
	background:#ccc;
	font-size:30px;
	cursor:pointer;
	position:absolute;
	right:15%;
	top:0;
	padding:6px 12px;
}




.search_form input, .search_form select, .search_form textarea{
    width:100%;
    height: 40px;
    border: none;
    padding: 4px;
    background-color: var(--green);
    margin-bottom:10px;
    color: #fff !important;
    font-weight: bold !important;
    border-radius: 4px;
    margin: 4px 0;
}
.search_form select {
    -webkit-appearance: button;
    -moz-appearance: button;
    background: url(../img/arrow_down.svg) center left var(--green) no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form_style1 label{
    display: block;
}
.form_style1 input[type=text], 
.form_style1 input[type=number], 
.form_style1 input[type=password], 
.form_style1 select, 
.form_style1 textarea {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    padding: 3px;
    border-bottom: 3px solid var(--green);
    color: var(--gray);
}
.form_style1 input:focus, 
.form_style1 select:focus, 
.form_style1 textarea:focus {
    border: 1px solid var(--green);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(var(--rgb_green),.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(var(--rgb_green),.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(var(--rgb_green),.6);
    border-bottom: 3px solid var(--green);
} 
.form_style1 select {
    -webkit-appearance: button;
    -moz-appearance: button;
    background: url(../img/arrow_down.svg) center left #fff no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form_style1 button {
    background: var(--green);
    padding: 6px 18px;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.form_style1 button:hover {
    background: var(--light_green);
}
/*
.row--- {
    flex-direction: row-reverse;
}
*/



/******************** datepicker style ********************/

.ui-widget {
    font-size: 0.8em !important;
}
.ui-datepicker-prev, .ui-datepicker-next{
    text-align: center;
}
.uib-day .text-muted {
    color: transparent !important;
}
.ui-datepicker-prev:before {
  content: ">";
}

.ui-datepicker-next:before {
  content: "<";
}
/******************** end datepicker style ********************/

/******************** datepicker style ********************/
.panel-default{
    border: none !important;
    margin: 0 !important;
    background: none !important;
}
.card-header{
    background: transparent;
}
.card-header a{
    text-decoration: none
}
/******************** end datepicker style ********************/

/******************** modal style ********************/
.modal-content{
    border-radius: 12px ;
    background: var(--lighter_green);
    color: var(--blue)
}
.modal-header, .modal-content label{
    color: var(--dark_blue)
}
.modal-header button{
    color: var(--dark_blue);
    line-height: 40px;
}
.modal-header button, .modal-header button:hover{
    background: none;
}
.modal-footer{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#msgHolder{
    transition: ease-out .2s;
    -moz-transition: ease-out .2s;
    -webkit-transition: ease-out .2s;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}
#msgHolder > div{
    padding: 10px 20px;
    max-width: 500px;
    margin: auto;
    border: 2px double #ccc;
}
#msgHolder > span{
    display: block;
}
#msgHolder .msg_white{
    background: #fff;
}
#msgHolder .msg_red{
    background: var(--light_red);
}
#msgHolder .msg_green{
    background: var(--lighter_green);
}
#msgHolder .msg_yellow{
    background: var(--light_yellow);
}
/******************** end modal style ********************/
.uib-datepicker-popup{
    padding: 0;
}
.uib-datepicker{
    padding: 8px;
    margin: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
}
.uib-datepicker .btn-secondary{
    padding:4px 8px ;
    background: #C2E5DE;
    
}
.uib-datepicker .btn-secondary span{
    font-weight: bold;
}
.uib-datepicker .btn-secondary .text-muted{
    font-weight: normal;
}
.uib-datepicker .uib-left{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.uib-datepicker .uib-right{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


/******************** checkbox ********************/
.mycheckbox input[type="checkbox"],.mycheckbox input[type="radio"] { position: absolute; opacity: 0; z-index: -1; }
.mycheckbox input[type="checkbox"]+ii:before, .mycheckbox input[type="radio"]+ii:before { 
	content: url("../img/chk0.svg"); 
	display: inline-block; 
	width: 22px;
	color:#fff;
    font-size: 22px;
    line-height: 22px;
}
.mycheckbox input[type="checkbox"]:checked+ii:before, .mycheckbox input[type="radio"]:checked+ii:before { 
	content: url("../img/chk1.svg"); ;
	color:var(--green);
}
.mycheckbox input[type="checkbox"]:focus+ii:before, .mycheckbox input[type="radio"]:focus+ii:before { outline: 1px dotted #aaa; }
.mycheckbox input[type="checkbox"]:disabled+ii, .mycheckbox input[type="radio"]:disabled+ii { color: #999; }
/*.mycheckbox input[type="checkbox"]:not(:disabled)+ii:hover:before { text-shadow: 0 1px 2px #77F; }*/
/******************** end checkbox ********************/


/******************** file style ********************/
.myInput label{
    position: relative;
}
.myInput input[type=file] {
    display:none;
    margin:10px;
}
.myInput input[type=file] + label {
    display:inline-block;
    margin:20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border:solid 1px #666F77;
    border-radius: 6px;
    color:#666F77;
    position: relative;
}
.myInput .floatBtn i{
    position: absolute;
    background: #fff;
}
.myInput .sideIcon{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 20px;
    z-index: 111;
    color: #666;
}
.animationIf.ng-enter,
.animationIf.ng-leave {
    -webkit-transition:  ease-in-out .5s;
    -moz-transition:  ease-in-out .5s;
    -ms-transition:  ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    height: auto;
    opacity: 1;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
    height: 0;
    opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
    height: 0;
    opacity: 1;
}
/******************** end file style ********************/

/******************** tag input style ********************/
.tag-item, .input{
    box-shadow: none !important;
    width: auto;
    direction:rtl; 
    float:right !important;
    font-family: "A Jannat LT" !important;
}
.tag-item, .input span{
    color: #000 !important;
    border: none;
}
.tags{
    border-bottom: 3px solid var(--green) !important;
}
.tags.focused{outline:0;
    border: 1px solid var(--green) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(var(--rgb_green),.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(var(--rgb_green),.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(var(--rgb_green),.6) !important;
    border-bottom: 3px solid var(--green) !important;
}
/******************** tag input style ********************/














.header_style .logo{
    display:flex;
    align-items:center;
    flex-direction: row;
    vertical-align: middle;
    text-align: center
}
.header_style .logo img{
    max-width: 100%;
}
.header_style .main-menu li{
    position: relative;
    list-style: none;
    padding: 4px 8px;
}
.header_style .main-menu li b{
    text-align: center;
    display: block;
}
.header_style .main-menu a{
    color: var(--dark_blue);
}
.header_style .main-menu li ul li:hover{
    background: var(--light_blue);
}
.header_style .main-menu li a:hover{
}
.header_style .main-menu ul li ul{
    position: absolute;
    right: 0;
}
.header_style .main-menu > ul{
    width:100%;
    text-align: right;
    margin: 0;
    height: 30px;
}
.header_style .main-menu > a li{
    display: inline-block;
}
.header_style .rightPadding{
    padding-right: 2px;
}
.header_style .leftPadding{
    padding-left: 2px;
}

.slider{
    background: url("../img/tile2small.png") repeat-x;
    min-height: 380px;
}
.indentPadding{
    padding-right: 20px;
}

.gridContainer .item figure{
    border: 1px solid var(--green);
    border-bottom: 3px solid var(--green);
    border-radius: 4px;
    overflow: hidden;
}
.gridContainer .item figure h3{
    font-size: 24px;
    padding: 4px;
}


.gridContainer .item ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.gridContainer .item .pollImg img{
    width: 100%;
}
.gridContainer .item li{
    padding: 2px;
    background:  #eee;
    margin: 2px;
}
.gridContainer .item li div{
    display: inline-block;
    line-height: 36px;
}
.gridContainer .item .optionImg{
    height: 36px;
    width: 36px;
    overflow: hidden;
    float: right;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--light_green);
    padding: 0;
}
.gridContainer .item .optionImg img{
    height: 100%;
}
.page_header{
    width:100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.page_header h1{
    text-align: center;
    background: url("../img/tile2small2.png");
    height: 140px;
    line-height: 140px;
    color: #fff;
    text-shadow: 2px 2px 20px #000;
}
.poll_configs{
    margin-top: 20px;
}
.green{
    color: #95C831;
}
.red{
    color: var(--red)
}
.tooltip {
    width: 100px;
}
.tooltip > .tooltip-inner{
    background: #999;
    font-family: "A Jannat LT" !important;
    border: 2px solid #000;
    font-size: 11px;
    min-width: 90px !important;
    width: 110px;
}
.nfoHolder{
    display: inline-block;
}
.hideIt{
    display: none;
}
.login_card{
    max-width: 380px; 
    margin: auto;
    min-height: 300px;
}
.login_card .switchBtn{
    height: 60px;
}
.login_card .switchBtn a{
    width: 44%; 
    text-align: center; 
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    margin: 0 3%;
    text-decoration: none;
    color: var(--green);
}
.login_card .switchBtn a:hover{
    color: var(--light_green);
}
.login_card .switchBtn .active {
    border-bottom: 3px solid var(--green);
}
.socialmedia_login button{
    margin: 2px 0;
    width: 100%;
    color: #fff;
}
.socialmedia_login .btn-facebook{ background: #254d87;}
.socialmedia_login .btn-twitter{ background: #26b7ed;}
.socialmedia_login .btn-google-plus{ background: #e12823;}
.socialmedia_login .btn-linkedin{ background: #0e66a7;}
.middle-line{
    display: flex;
    line-height: 60px;
}
.middle-line:before, .middle-line:after{
    content: "";
    border-bottom: 2px dotted var(--blue);
    flex:1;
    margin:auto 10px;
}

.pollModal h3{
    padding: 10px 4px;
    font-size: 24px;
    border-bottom: 1px solid var(--blue);
}
.pollOptionModal li{
    list-style: none;
    min-height: 70px;
    position: relative;
}
.pollOptionModal li .optn{
    border-bottom: 1px solid var(--blue);
}
.pollOptionModal li .optn:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.pollOptionModal li img{
    height: 68px;
}
.pollOptionModal li .optn > div{
    display: inline-block;
    min-height: 70px;
}
/*
.pollOptionModal li .optn div:nth-child(1){
    width: 10%;
}
.pollOptionModal li .optn div:nth-child(2){
    width: 60%;
}*/
.pollOptionModal li .optn div:nth-child(3){
    overflow: hidden;
    text-align: left;
    margin: 0 8px;
}
.progress_bar .progress{
    height: 12px !important;
    position: absolute;
    bottom: 2px;
    width: 100%;
}
.comments_style{
    margin: 40px 0;
}
.comments_style .comment_text{
    border: 1px dashed var(--green);
    border-radius: 50px;
    padding: 10px 16px;
    margin-top:10px;
    color: var(--dark_blue);
}
.comments_style .comment_avatar{
    margin: 6px 40px 40px 40px;
    font-size: 11px;
}
.addcomment_style{
    padding: 30px 0;
}
.emojis a{
    display: inline-block;
}
.emojis .selected{
    border: 2px dashed var(--light_green);
    border-radius: 50%;
    padding: 4px;
}

.footer{
    padding: 40px 0;
    text-align: center;
}
    

.footer{
    border-top:2px solid var(--green);
    background: var(--lighter_green);
}
.header_style{
    border-bottom:2px solid var(--green);
    background: var(--lighter_green);
    padding: 10px 0;
    margin-bottom: 20px;
}
.chart_style {
    margin: 20px 0;
}
.chart_style > div{
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.info_poll {
    max-width: 500px;
}

.info_poll div{
    display: inline-block;
    padding: 4px 0px 4px 10px;
    font-size: 13px;
    margin: 0;
}
.shareBar {
    margin: 30px 0;
}
.shareBar div{
    border: dashed 1px rgba(var(--rgb_green),1);
    display: inline-block;
    line-height: 20px;
    padding: 0;
    margin: 0
}
.shareBar i{
    display: inline-block;
    line-height: 32px;
    font-size: 18px;
    width: 34px;
    text-align: center;
    background: var(--lighter_green);
    border: 1px solid var(--green);
}
.shareBar a:hover{
    color: #fff;
}
.shareBar a:hover .fa-facebook{ background: #4b69b0; }
.shareBar a:hover .fa-twitter{ background: #37b1e1; }
.shareBar a:hover .fa-google-plus{ background: #e83f3a; }
.shareBar a:hover .fa-linkedin{ background: #0678b6; }
.shareBar a:hover .fa-pinterest{ background: #e83f3a; }
.shareBar a:hover .fa-envelope{ background: #B5E3EB; }









@media (max-width: 768px) {

    .rowFix {
        margin:auto; 
    }
    .leftPadding, .rightPadding{
        padding: 0;
        margin: 0;
    }
    .header_style .logo{
        position: absolute;
        height: 50px;
        left: 4px;
        top: 4px;
        width: auto;
        max-width: 200px;
    }
    .header_style .logo img{
        height: 40px;
    }
    .header_style{
        border-bottom:2px solid var(--green);
        background: var(--lighter_green)
    }
    
}
    
    
    
    