:root{
    --green: #79A362;
    --green2: #8fb351;
    --rgb_green: 99, 199, 302;
    --light_blue: #2fb1b4;
    --light_green: #D7FFAE;
    --gray: #999;
    --red: #ED7B7B;
    --red2: #cd4a5a;
    --yellow: #F8BC17;
    --light_blue: #f7fbfc;
    --dark_blue: #337ab7;
    --blue: #d0d9de;
    --blue2: #3ee22e;
    --blue3: #3aa22a;
    --orange: #fff8ed;
    --light_red: #F8CCCD;
    --light_orange: #F7EFBF;
    --gray: #999;
    --light_gray: #eef1f5;
}


body{
    background: #f3f3f3;
}
::-webkit-input-placeholder {
  color: #ccc !important;font-style: italic;
}
:-ms-input-placeholder { 
  color: #ccc !important;font-style: italic;
}
::placeholder {
  color: #ccc !important;font-style: italic;
}
h1{
    font-size: 22px !important;
}
h2{
    font-size: 18px !important;
}
h3{
    font-size: 12px !important;
}
a{
    color: var(--blue2);
}
a:hover{
    text-decoration: none;
    color: var(--blue3);
}
#imgHolder{
	opacity:0;
	z-index:-20;
	width:100%;
	height:100%;
	top:0;
	right:0;
	position:fixed;
	background:rgba(0,0,0,0.9);
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	text-align:center;
}
#imgHolder img{
	margin:30px auto;
	max-height:90%;
	max-width:90%;
	border-radius:20px;
	-moz-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	-webkit-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	box-shadow: 0px 0px 10px 5px #CCC;
}
#imgHolder i{
	color:#000;
	background:#ccc;
	font-size:30px;
	cursor:pointer;
	position:absolute;
	right:15%;
	top:0;
	padding:6px 12px;
}

#msgHolder{
    transition: ease-out .2s;
    -moz-transition: ease-out .2s;
    -webkit-transition: ease-out .2s;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}
#msgHolder > div{
    padding: 10px 20px;
    max-width: 500px;
    margin: auto;
    border: 2px double #ccc;
    border-radius: 4px;
}
#msgHolder > span{
    display: block;
}
#msgHolder .msg_white{
    background: #fff;
}
#msgHolder .error{
    background: var(--light_red);
}
#msgHolder .success{
    background: var(--light_green);
}
#msgHolder .warning{
    background: var(--light_orange);
}
.errormessage{
    color:red;
}
.preloader-all{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255,255,255,1);
    z-index: -1;
    padding-top: 22%; 
    color: #ccc;
    opacity: 0;
    transition: all 0.3s;
}
.preloader{
    z-index: 9999;
    position: fixed;
    float: left;
    top: 10px;
    left: 10px;
    color: #4C9FDC;
}
.form-control:focus .btn:active {
 border-color:var(--blue);
 box-shadow:0 0 0 .2rem rgba(63,255,25,0.25)
}






.mycheckbox input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
.mycheckbox input[type="checkbox"]+span { 
	font-family:DroidKufi, sans-serif;
}
.mycheckbox input[type="checkbox"]+span:before { 
	font: 16px FontAwesome; 
	content: '\f096'; 
	display: inline-block; 
	width: 16px;
	color:#666;
}
.mycheckbox input[type="checkbox"]:checked+span:before { 
	content: '\f14a';
	color:#94D51C;
}
.mycheckbox input[type="checkbox"]:focus+span:before { outline: 1px dotted #aaa; }
.mycheckbox input[type="checkbox"]:disabled+span { color: #999; }
/*.mycheckbox input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }*/ 










.myradiobtn input[type="radio"] { position: absolute; opacity: 0; z-index: -1; }
.myradiobtn input[type="radio"]+span { 
	font-family:DroidKufi, sans-serif;
}
.myradiobtn input[type="radio"]+span:before { 
	font: 16px FontAwesome; 
	content: '\f10c'; 
	display: inline-block; 
	width: 16px;
	color:#666;
}
.myradiobtn input[type="radio"]:checked+span:before { 
	content: '\f192';
	color:#94D51C;
}
.myradiobtn input[type="radio"]:focus+span:before { outline: 1px dotted #aaa; }
.myradiobtn input[type="radio"]:disabled+span { color: #999; }






.myNavBar .navbar-brand{
    padding: 4px 20px;
    font-size: 18px;
}

.btn-info , .btn-primary {
    background-color: var(--blue2) ;
    border-color: var(--blue2) ;
}
.btn-info:hover , .btn-primary:hover ,.btn-info:active , .btn-primary:active ,.btn-info:focus , .btn-primary:focus {
    background-color: var(--blue3) !important;
    border-color: var(--blue3) !important;
}
tags-input .tags .tag-item {
    border-radius: 15px;
    background: #eee;
    border: none;
}
.tag-template .left-panel {
    float: left;
}

.tag-template .left-panel img {
    border-radius: 25px;
    height: 24px;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.tag-template .right-panel {
    float: left;
    margin-left: 5px;
}



/******************** datepicker style ********************/
.btn-secondary {
    color: #999;
    background-color: #fff;
    border-color: #fff;
}
.text-muted{
    color: #fff !important;
    visibility: hidden;
    background: #727272 !important ;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--blue);
    border-color: #fff ;
}
.btn-secondary:hover, .btn-secondary:hover, .show > .btn-secondary.dropdown-toggle:hover {
    background-color: var(--blue);
    border-color: #fff;
}
/******************** end datepicker style ********************/





/******************** switch button style ********************/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
    line-height: 14px;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: -12px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--red2);;
  -webkit-transition: .4s;
  transition: .4s;
}
.slideLabel{
    float: right;
    margin: 0 4px;
    line-height: 20px;
}
.btn-xs{
    height: 26px;
    padding: 2px 12px;
    vertical-align: inherit;
    line-height: 20px;
    font-size: 12px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 12px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--green2);
}

input:focus + .slider {
  box-shadow: 0 0 1px #56D313;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/******************** end switch button style ********************/





.header{
    min-height: 160px
}
.header > div{
    box-shadow: 0 0 10px 0 #ccc;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.toptext{
    text-align: right;
    margin: 10px;
    cursor: pointer;
}
.langs {
    margin: auto 20px auto auto;
    text-transform: uppercase;
    font-weight: bold;
    color: #ccc;
}
.langs .dropdown-menu {
    text-transform: uppercase;
    font-size: 12px;
    min-width: 0px;
    font-weight: bold;
}
.topmenu{
    border-bottom: 1px solid #f3f3f3;
    background: #fff;
}
.topmenu img{
    max-height: 35px; 
    margin: 4px;
}
.navbar{
    padding:0 .5rem ;
}
.navbar-nav{
    margin: auto;
}
.nav-item i{
    display: block;
    text-align: center;
    font-size: 20px;
}
.submenu {
    position: relative;
    text-align: center;
    background: #f3f3f3;
    font-size: 14px;
}
.submenu > div{
    position: absolute;
    right: 10px;
    top: 14px;
}
.submenu .dropdown-item{
    width: auto;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
}
.newBadge{
    position: absolute;
    background: #D70003;
    right: -2px;
    top: -2px;
    font-size: 9px;
    padding: 0 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}
.submenu .dropdown-item:active{
    background: #f3f3f3;
    color: #000;
}
.currentUrl{
    border-bottom: 2px solid var(--blue2);
    color:  var(--blue2) !important;
}
.currentUrl a{
    color:  var(--blue2) !important;
}
.login{
    background: #f3f3f3;
    width:100%;
    min-height: 650px;;
    padding-top: 6%;
}
.login .logo{
    height: 70px;
    margin: 20px 0;
}
.login form{
    background: #FFF;
    max-width: 420px; margin: auto; border: 1px solid #ccc; padding: 30px; border-radius: 6px; 
}
.login form input::placeholder{
    color: #ccc;
}
.footer{
    background: #f3f3f3;
}
.footer > div{
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.company_name{
    max-width: 200px;
    position: absolute;
    line-height: 15px;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.company_name b{
    font-size: 15px;
    display: block;
    margin: 0;
    padding: 0;
}
.company_name small{
    font-size: 11px;
}





.card_style{
    padding: 10px;
    width: 100%;
}
.card_style h2{
    font-weight: bold;
    font-size: 14px !important;
    padding: 8px 0;
}
.card_style .row i, .card_style h2 i{
    color: #ACACAC
}
.card_style .row{
    padding: 6px 0 ;
}
.card_style .fa{
    font-size: 16px;
}
.card_style > div{
    border-radius: 4px;
    border: 1px solid #eee;
    background: #fff;
    min-height: 300px;
    padding: 20px;
    font-size: 13px;
}
.side_card_style > div, .side_card_style2 > div{
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 13px;
    padding: 12px 8px;
    color: #666;
}
.side_card_style .map img{
    width: 100%;
    margin-bottom: 10px;
}
.side_card_style h2{
    font-size: 14px !important;
    font-weight: bold;
}
.side_card_style2 .card{
    border: none;
}
.side_card_style2 .card-header{
    padding: 8px 4px;
    border-bottom: none;
    background: none;
}
.card-header .btn-link{
    font-weight: bold !important;
    color: var(--green) !important;
}
.side_card_style2 hr{
    margin: 0;
    padding: 0;
}
.side_card_style2 .btn{
    width: 100%;
}
.side_card_style2 a{
    color: #000;
    position: relative;
    display: block;
}
.side_card_style2 a i{
    position: absolute;
    right: 0;
    top: 6px;
}
.profilesPages {
    padding-top:40px 
}
.profilesPages section ,.settings_page section{
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 40px 6px 40px 0; 
    margin-bottom: 40px;
    font-size: 12px;
}
.profilesPages section h2{
    padding: 0 10px;
    margin: 10px 0;
    background: #eee;
    text-transform: uppercase;
    width: auto;
}
.settings_page section p{
    color: #999999;
    margin: 20px 0 ;
}
.lh38{
    line-height: 38px;
}
.profilesPages label{
    padding: 0;
    margin: 20px 0 0 0;
    color: #999;
}
.profilesPages .col-sm-1 i{
    margin: 46px 30px 0 30px;
    font-size: 22px;
    color: #999;
}
.profilesPages .gridHeader {
    background: var(--blue);
    line-height: 40px;
}
.suggestions section{
    padding: 0 ;
    font-size: 13px;
}
tags-input .tags .tag-item{
    color: #666;
    line-height: 30px;
    height: 30px;
}
tags-input .tags {
    margin-top: -5px;
    min-height: 38px;
}
.upload_style{
    margin-top: 40px;
}
.upload_style .photo{
    display: inline-block;
    margin: 1px;
    position: relative;
}
.upload_style .photos{
    min-height: 72px;
}
.upload_style .photos img{
    height: 72px;
}
.upload_style label{
    width: 100%;
}
.upload_style .photo i{
    position: absolute;
    left: 0px;
    top: 0;
    padding: 2px;
    background: #fff;
}
.upload_style2{
    margin-top: auto;
}
.upload_style2 img{
    height: 45px;
}
.dir_card {
    padding: 0;
    padding-right: 8px;
}
.dir_card .img{
    height: 40px;
    width: 40px;
}
.dir_card .icn{
    height: 100%;
    margin: 6px;
}
.dir_card > div{
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    min-height: 50px;
    padding: 4px;
    font-size: 12px;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.dir_card > div:hover{
    -webkit-box-shadow: -5px 5px 0px 0px rgba(111,111,111,1);
    -moz-box-shadow: -5px 5px 0px 0px rgba(111,111,111,1);
    box-shadow: -5px 5px 0px 0px rgba(111,111,111,1);
}
.dir_card > div span{
    position: absolute;
}
.dir_card > div span:nth-child(1){
    left: 4px;
}
.dir_card > div span:nth-child(2){
    left: 48px;
    text-transform: capitalize;
    line-height: 13px;
}
.dir_card > div span:nth-child(3){
    right: 4px;
}
.dir_card > div p {
    padding: 10px 0 0 0;
    margin: 50px 0 0 0;
    border-top: dashed #ccc 1px;
    text-align: right;
}
.seperator{
    width:100%; 
    margin-top: 30px;
}
.v-center{
    display:flex;
    align-items:center;
    width:46%;
    float:left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.right-rounded > .form-control {
    border-top-right-radius:  4px !important;
    border-bottom-right-radius:  4px !important;
}
.left-rounded > .form-control {
    border-top-left-radius:  4px !important;
    border-bottom-left-radius:  4px !important;
}
.myNavBar{
    padding: 10px 20px;
    border:1px solid #ccc;
    border-radius: 4px;
}
.myNavBar input[type=text]{
    max-width: 120px;
}
.myNavBar div.dropdown-item:active{
    background: #eee;
    color: #000;
}
.stars .dropdown-item {
    padding: 0.0rem 1.5rem !important;
    
}
.filter_show{
    background: #fff;
    padding: 4px 10px; 
    border-radius: 4px;
    margin-top: 4px;
}
.filter_show .filter_group{
    display: inline-block;
    padding: 0 6px;
}
.filter_show .filter_group span{
    display: inline-block;
    line-height: 22px;
    font-size: 11px;
    color: #999;
    padding: 0 6px;
    margin: 0 1px;
    border-radius: 2px; 
    border: 1px solid #ccc;
}








.feedback_view {
    padding-top: 10px;
}
.feedbacks_list {
    overflow-y: scroll; 
    height: 800px;
    border-right: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 10px;
}
.feedbacks_list .row h3{
    font-size: 12px;
    font-weight: bold;
}
.feedbacks_list .row > div{
    text-decoration: none;
    display: block;
}
.feedbacks_list .row > div:hover{
    background: #E8F1F3;
    cursor: pointer;
}
.feedbacks_list .row p, .feedbacks_list .row a{
    font-size: 13px;
}
.feedbacks_list .row img{
    height: 12px;
}
.feedbacks_list .row button{
    border: none;
    outline: none;
    background: none;
}
.feedbacks_list .row button:hover{
    text-decoration: underline;
}
.contents_style #accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
.contents_style .card {
    border-radius: 0;
    border: none;
}
.contents_style .card-header {
    border-bottom: none;
    background: #fff;
}
.contents_style .btn-link{
    text-decoration: none;
}
.gridHeader{
    font-size: 12px; 
    font-weight: bold;
    border-bottom: 1px solid #ECECEC;
}
.gridContent{
    padding: 4px;
    border-bottom: 1px solid #ECECEC;
}
.gridContent:hover{
    background: #F3F6F8 !important;
}
.gridContent img{
    max-height: 30px;
}
.gridContent .dirs{
    max-height: 32px;
    overflow: hidden;
}
.gridContent .dirs button{
    padding: 0;
}
.greenText{
    color: var(--green) ;
}
.redText{
    color: var(--red);
}
.blueText{
    color: #3a5499 ;
}
.goldText{
    color: var(--yellow) ;
}
.row-striped:nth-of-type(odd) {
    background: #ECECEC;
}
.row-striped:nth-of-type(even) {
    background: #FFFFFF;
}

.tmpltDiv{
    height: 224px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    padding: 0;
    margin: 10px;
}
.tmpltDiv h3{
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    font-weight: bold;
}
.tmpltDiv div{
    height: 130px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.tmpltDiv p{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 56px;
    font-size: 12px;
}
.tmpltDiv img{
    max-width: 100%
}
.tmpltDiv span{
    position: absolute;
    padding-top: 60px ;
    top: 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(13,0,0,0.2);
    opacity: 0;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.tmpltDiv:hover span{
    opacity: 1;
}

.squareOptions{
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 4px;
    padding: 10px 20px;
    color: #ccc;
    cursor: pointer;
}
.squareOptionsActive{
    text-align: center;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 10px 20px;
    color: var(--green);
    font-weight: bold;
    background: rgba(95,233,67,0.1);
    cursor: pointer;
}
.hideElm{
    display: none !important;
}
.btn-group .disabled{
    background: #ccc;
}
.key_value_div{
    width: 100%;
}
.key_value_div div{
    text-align: left;
    margin: 1px 0;
    font-size: 12px;
    padding: 0 2px;
}
.colors_bg{
    margin: 13px 0 8px 0;
    background: rgba(0,0,0,0.2)
}

.progress { 
    height:1.2em;
    width: 100%;
    font-size: 16px;
    padding: 0
}
.progress-bar { 
  transition: width 1s ease-in-out; 
}
.progress-bar i{ 
    color: #fff;
}
.progress-bar-striped {
    background-size: auto;
    background-image: linear-gradient(to right, #be0000, #c84300, #ce6700, #d28800, #d4a600, #cbb300, #bfbf00, #b0cc00, #97c900, #7bc600, #5bc200, #2abe00);
}





.fa-info-circle{
    color: #ACACAC;
}





.post_preview{
    color: #999;
}
.post_preview .disclaimer{
    margin: 10px 0;
}
.post_preview .icons i{
    font-size: 13px;
    color: #dadce2;
    margin: 4px 12px;
}
.post_preview .post_header{
    margin-bottom: 20px;
}
.post_preview .photos{
    background: #dadce2;
    max-height: 400px;
    overflow: hidden;
    min-height: 260px;
}
.post_preview .photos div img{
    width: 100%;
    border: 1px solid #999;
}
.post_preview .photos .half{
    height: 200px;
}
.post_preview .photos .big{
    height: 280px;
}
.post_preview .photos .thumb{
    height: 120px;
    position: relative;
    display: inline-block;
    float: left;
}
.post_preview .photos .thumb .counter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    font-size: 40px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.linkbtns a{
    border:1px solid #ccc;
    margin: 0 1px;
    text-align: center;
    width: 24px;
    display: inline-block;
}
.nopadding .col{
    padding: 0 !important;
    margin: 0 !important;
}
.mytab{
    padding: 10px;
}



.google_post{
    background: #f8f9fa;
    padding: 20px;
    color: #999;
}
.post_body{
    background: #fff;
    padding: 20px;
    margin:0; 
}
.post_body img{
    width: 100%;
}
.post_footer{
    width: 100%;
    display: block;
    border-top: 1px solid #ccc;
    text-align: center;
    background: #fff;
    text-transform: uppercase;
    line-height: 50px;
}




.disableTab{
    pointer-events: none;
    opacity: 0.5
}
.dir .post_header .part1 p{
    height: 140px;
    width: 100%;
    background: var(--light_gray);
}
.dir .post_header .part1 img{
    max-height: 16px;
    margin: 10px 0;
}
.dir .post_header .part2{
    padding-top: 30px;
}
.dir .post_header .part2 i{
    color: var(--light_gray);
}
.dir .post_header .part2 img{
    padding: 10px 0;
}
.dir .post_header .part2 div div:nth-child(1){
    width: 10%;
    float: left;
    max-width: 30px;
}
.dir .post_header .part2 div div:nth-child(2){
    width: 80%;
    float: left;
}
.dir  .nav-tabs .nav-link {
    border-radius: 0;
}
.dir  .nav-tabs .nav-item {
    background: var(--light_gray);
    min-width: 60px;
    margin-right: 2px;
    font-size: 12px;
    padding: 2px 20px;
    pointer-events: none;
}
.dir  .nav-tabs .nav-item.active {
    background: #fff;
}
.dir .tab-content{
    border:1px solid var(--light_gray);
    border-top: none;
    padding: 8px 30px;
}
.dir .disclaimer{
    margin: 10px 0;
    display: block;
    font-size: 12px;
}
.sidebar{
    background: #fff;
    font-size: 12px;
    margin-top: 12px;
    padding-top: 8px;
    position: fixed;
    top: 100px;
    right: 6px;
    overflow-y: scroll;
    height: 80%;;
}
.sidebar_configs {
}
.sidebar small{
    color: #999;
    font-size: 10px;
    display: block;
    max-width: 400px;
}
.sidebar img{
    height: 30px;
}
.sidebar a{
    display: block;
}
.sidebar span{
    text-transform: lowercase;
    color: var(--blue);
}
.sidebar span:first-line {
    text-transform: capitalize;
}
.no_label_padding label{
    margin: 0 ;
}
.openingHoursDiv{
    margin: 20px 0 0 0;
}
.openingHoursDiv label{
    margin: 0;
    line-height: 40px;
}
.cropDiv{
    width: 400px;
    height: 225px;
    overflow: hidden;
    position: relative;
}
.cropDiv img{
    width: 100%;
    position: absolute;
}
.cropDiv figure{
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    display: block;
    color: #ccc;
    background: rgba(0,0,0,0.5);
    font-size: 16px;
    cursor: pointer;
    line-height: 50px;
    user-select: none;
}
.hideIt{
    position: absolute;
    height: 0;
    visibility: hidden;
}
.showIt{
    height: 100%;
    visibility: visible;
    opacity: 0.5;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    color: #999;
}
.chartParts > div{
    float: left;
    display: inline-block;
    min-height: 120px;
}
.chartParts label{
    width: 100%;
}
.chartParts .part1{
    margin-top: 8px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-align: center;
    background: #eee;
    height: 100%
    
}
.chartParts .part1 b{
    font-size: 22px;
    display: block;
}
.chartParts .part1 img{
    width: 80%;
}
.chartParts .part2{
    width: 80%;
}
.chartParts label{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chartParts label{
    margin: 0;
    padding: 0;
}
.listing_style .nowrap_line{
    max-width: 85%;
}
.add_btn{
    margin: 10px 20px;
}
.by{
    color:#777;
    text-transform: uppercase;
    display: block;
    padding: 2px 2px 20px 2px;
}
.by a{
    color:#ccc;
}
.by a:hover{
    color: #777;
}
.hr_center{
    max-width: 90%;
    background: #eee;
    border: none;
    height: 1px;
}
.margin-top-40{
    margin-top:40px;
}
.sidemenu ul{
    list-style: none;
}
.sidemenu a i{
    color: #ccc;
}
.sidemenu a{
    transition: all .2s;
    color: #999;
}
.sidemenu a:hover i{
    color: #666;
}
.sidemenu .active,.sidemenu .link.active, .sidemenu .active i{
    color: var(--green) !important;
    margin-left: 10px;
    font-size: 18px;
}
.sidemenu .nav-tabs .nav-link {
    border: none;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.sidemenu .nav-tabs {
    border-bottom: none;
}
.sidemenu .nav {
    display: block;
}
.sidemenu .nav-link {
    padding: 0;
}
.sidemenu .nav-tabs .nav-item.show .nav-link,.sidemenu .nav-tabs .nav-link.active {
    background-color: rgba(0,0,0,0.00);
}
.whiteText{
    color: #fff !important;
}
@media (min-width: 768px) {
    .hideWeb{
        display: none !important;
    }
}
@media (max-width: 768px) {
    .position-fixed{
        position: relative !important;
        margin: 20px 0;
    }
    .header {
        min-height: 110px;
    }
    .nowrap_line{
        white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
        display: inline-block;
        line-height: 12px;

    }
    .settings_page .col-sm-9 section {
        padding-top: 30px ;
        padding-bottom: 30px ;
    }
    .sidebar, .sidebar_configs{
        position: relative;
        top: auto;
        right: auto;
        overflow-y:auto;
    }
    .myNavBar input[type=text]{
        max-width: 100%;
        
    }
    .myNavBar .input-group{
        margin: 4px 0; 
    }

    .container .row{
        padding: 0 8px 8px 8px;
    }
    .feedback_view{
        background: #fff;
    }
    .feedbacks_list {
        height: 200px;
    }
    .hideMob{
        display: none;
    }
    .nav-item i{
        display: inline;
    }
    .company_name{
        right: 0;
        top:5px;
    }
    .navbar{
        padding:.5rem ;
    }
    .show{
        display: block !important;
    }
    .currentUrl{
        border-bottom: none;
    }
}